//? COLORES

$color-principal: #f3f3f3;
$color-secundario: #232323;
$color-fondo: rgb(255, 255, 255);

//? TIPOGRAFIAS

$tipografia-titulos: "Noto Serif", serif;
$tipografia-subtitulos: "Roboto Condensed", sans-serif;
$tipografia-parrafos: "Karma", serif;
