.main {
	margin-top: 10rem;
	.main__img1 {
		width: 100%;
		height: 20rem;
	}
	.main__img--numero {
		width: 13rem;
		height: 13rem;
	}
	.main__img2 {
		margin-top: -5rem;
		margin-left: 8rem;
		filter: drop-shadow(5px 5px 5px #000);
	}
}
