.main {
	overflow: hidden;

	.main__servicios {
		text-align: center;
		margin-top: 13rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 5rem;
		padding: 0 1rem;

		.main__servicios-img {
			width: 5rem;
			height: 5rem;
		}
	}
	.hogar {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 13rem;
		background-image: url("../src/static/img1.webp");
		height: 25rem;
		color: white;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}
}
