@media (min-width: 450px) {
}
@media (min-width: 650px) {
	.main {
		.contenedor1 {
			display: flex;
		}
		.contenedorImg-seccion1 {
			align-items: flex-end;
		}
	}
}
@media (min-width: 900px) {
	.header {
		.nav {
			.nav__icono-menu {
				display: none;
			}
			.nav__links {
				display: block;
			}
		}
	}
}
@media (min-width: 1200px) {
}
@media (min-width: 2000px) {
}
