@media (min-width: 450px) {
}
@media (min-width: 650px) {
}
@media (min-width: 900px) {
	.header {
		.nav {
			.nav__icono-menu {
				display: none;
			}
			.nav__links {
				display: block;
			}
		}
		.header__hero {
			.header__redes-sociales {
				display: grid;
				grid-template-columns: 1fr;
			}
		}
	}
}
@media (min-width: 1200px) {
}
@media (min-width: 2000px) {
}
